Repository leriksen/powershell: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/infra_deploy_dev.yml, pipelines/update_tokens_dev.yml

pipelines/infra_deploy_dev.yml:

variables:
  - group: terraform-base
  - group: devops-base
  - group: devops-non-prod
  - group: devops-dev

pool:
  vmImage: ubuntu-22.04

trigger:
  batch: true
  branches:
    include:
      - master
      - main
  paths:
    include:
      - terraform
      - modules
      - scripts
      - pipelines/infra_deploy_dev.yml

stages:
  - template: ./templates/plan.yml
    parameters:
      environment: $(environment)

  - template: ./templates/apply.yml
    parameters:
      environment: $(environment)

pipelines/update_tokens_dev.yml:

variables:
  - group: devops-base
  - group: devops-non-prod
  - group: devops-dev

pool:
  vmImage: ubuntu-22.04

trigger:
  batch: true
  branches:
    include:
      - master
      - main
  paths:
    include:
      - pipelines/update_tokens_dev.yml
      - json

stages:
  - stage: deploy_tokens
    jobs:
      - job: deploy_tokens
        workspace:
          clean: all
        steps:
          - checkout: self
          - task: AzurePowershell@5
            displayName: Deploy Tokens
            inputs:
              azureSubscription: azure
              scriptType: filePath
              scriptPath: json/parse.ps1
              pwsh: true
              workingDir: json

use latest version
  pipelines/update_tokens_dev.yml
Due: pipelines/update_tokens_dev.yml

show wd
  json/parse.ps1
Due: pipelines/update_tokens_dev.yml

set working dir
  pipelines/update_tokens_dev.yml
Due: pipelines/update_tokens_dev.yml

fix kv processing
  json/parse.ps1
  json/test.json
Due: pipelines/update_tokens_dev.yml

set kv writers
  json/parse.ps1
  json/test.json
  modules/context/environment/main.tf
  modules/context/environment/outputs.tf
  terraform/akv.tf
Due: pipelines/infra_deploy_dev.yml, pipelines/update_tokens_dev.yml

add writers as set
  modules/context/environment/main.tf
  modules/context/environment/outputs.tf
  terraform/akv.tf
Due: pipelines/infra_deploy_dev.yml

use current client object_id
  terraform/akv.tf
Due: pipelines/infra_deploy_dev.yml

add azdo federated workspace identity
  modules/context/environment/main.tf
Due: pipelines/infra_deploy_dev.yml

configure kv for rbac role access
  terraform/akv.tf
Due: pipelines/infra_deploy_dev.yml

configure kv for rbac role access
  modules/context/globals/outputs.tf
  modules/context/subscription/outputs.tf
  pipelines/infra_deploy_dev.yml
  terraform/acr.tf
  terraform/aks.tf
  terraform/akv.tf
  terraform/env-dev.sh
  terraform/rg.tf
Due: pipelines/infra_deploy_dev.yml

build
  docker/Dockerfile
  json/parse.ps1
  json/test.json
  modules/context/environment/main.tf
  modules/context/environment/outputs.tf
  pipelines/docker-push-dev.yml
  terraform/acr.tf
  terraform/aks.tf
Due: pipelines/infra_deploy_dev.yml, pipelines/update_tokens_dev.yml

fix trigger
  pipelines/docker-push-dev.yml
Due: none

fix docker script
  json/test.json
  pipelines/docker-push-dev.yml
Due: pipelines/update_tokens_dev.yml

run az aks get-creds with force
  json/parse.ps1
Due: pipelines/update_tokens_dev.yml

fix project name
  modules/context/globals/outputs.tf
Due: pipelines/infra_deploy_dev.yml

just test acr for now
  modules/context/globals/outputs.tf
  pipelines/templates/apply.yml
  pipelines/templates/plan.yml
  terraform/aks.tf
  terraform/akv.tf
  terraform/env-dev.sh
Due: pipelines/infra_deploy_dev.yml
